@inherits LayoutComponentBase

<div class="container1 textFont">
    <div class="side-bar">
        <div>
            <img src="images\dashboard\logo.svg" />
            <a>FITLIFE</a>
        </div>
        <NavLink id="iconDashboard" href="/user-dashboard">Dashboard</NavLink>
        <NavLink id="iconWorkouts" href="/workout-selections">Workouts</NavLink>
        <NavLink id="iconMealPlans">Meal Plans</NavLink>
        <NavLink id="iconProfile" href="/user-profile">Profile</NavLink>
        <NavLink id="generateGoal" href="/start-survey">GENERATE NEW GOAL</NavLink>
        <NavLink id="logOutBtn" href="/logout">Logout</NavLink>
    </div>

    <div class="user-dashboard">
        @Body
    </div>
</div>
