@inherits LayoutComponentBase

<header>
    <div class="icon-img"></div>
    <NavLink href="/user-dashboard" id="backBtn">Back to Dashboard</NavLink>
</header>

<div class="main-container">
    @Body
</div>