@inherits LayoutComponentBase


<div class="firstContainer textFont">
    <h1>FITLIFE </h1>
    <div class="subContainer1">
        <a>Achieve Your Fitness Goals with</a>
        <h1>FITLIFE</h1>
        <a>Personalized fitness plans tailored to your unique goals and lifestyle. Get started on your journey to a healthier, happier you!</a>
        <button>TRY NOW!</button>
    </div>
    <div class="subContainer2"> 
        <a>Have an account already?</a>
        <button class="textFont">Login</button>
    </div>
</div>
<div class="secondContainer textFont">
    <div></div>
    <div></div>
    <div></div>
</div>
@Body



