body {
    margin: 0;
    width: 100%;
    height: 450vh;
    background-color: black;
}

.textFont {
    font-family: "Poppins", sans-serif;
}

.firstContainer {
    background: url('images/homepage/homepageBG.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
    .firstContainer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .firstContainer > h1 {
        margin: 2vh 2vw 0vh auto;
        z-index: 1;
        color: #EE1D52;
    }

.subContainer1 {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vh 0vw 0vh 4vw;
    width: 90%;
    height: 50%;
}
    .subContainer1 > a {
        font-size: 3vh;
        margin: 0vh 0vw 0vh 2vw;
        color: white;
        width: 45%;
    }
    .subContainer1 > h1 {
        margin: 0vh 0vw 2vh 2vw;
        font-size: 10vh;
        font-family: 'Times New Roman';
        color: #EE1D52;
    }

    .subContainer1 > button {
        font-family: "Global User Interface";
        height: 20%;
        width: 15%;
        background-color: #A31D1D;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        margin: 4vh 0vw 4vh 2vw;
        color: white;
    }
    .subContainer1 > button:hover {
        color: skyblue;
    }

    #login {
        z-index: 2;
        margin: 0vh 0vw 0vh auto;
        height: 10%;
        width: 10%;
    }

.subContainer2 {
    z-index: 1;
    display: flex;
    margin: 0vh 0vw 0vh 4vw;
    width: 90%;
    height: 10%;
}
    .subContainer2 > p {
        font-size: 3vh;
        margin: 1vh 0vw 0vh 2vw;
        color: white;
    }

    ::deep .loginNavLink {
        color: white;
        text-decoration: none;
    }

    ::deep .loginNavLink:hover {
        color: #387dff;
    }

.secondContainer {
    height: 90vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .secondContainer > div {
        height: 100%;
        width: 30%;
        margin: 0vh 2vw 0vh 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .secondContainer > div > img {
            height: 30%;
            width: 50%;
            margin: 10vh 0vw 0vh 0vw;
        }

        #mealRecoImg {
            height: 24%;
            width: 50%;
            margin: 12vh 0vw 2vh 0vw;
        }
        #decAnalysisImg {
            height: 24%;
            width: 30%;
            margin: 12vh 0vw 2vh 0vw;
        }

        .secondContainer > div > p {
            margin: 2vh auto 2vh auto;
            width: 70%;
            text-align: center;
            color: #A31D1D;
            font-size: 4vh;
            font-weight: bold;
        }

        .secondContainer > div > a {
            margin: 2vh auto 0vh auto;
            width: 90%;
            color: #A31D1D;
            font-size: 3vh;
            text-align: center;
        }

.thirdContainer {
    width: 100%;
    height: 150vh;
    background: url('images/homepage/rodrigo-s-2mz9IKab7DE-unsplash.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
}
    .thirdContainer::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 120vh;
        background: rgb(252, 215, 215, 0.3);
    }
    .thirdContainer > h1 {
        height: 10%;
        margin: 7vh auto 0vh auto;
        color: #FFFFFF;
        font-weight: bolder;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .thirdContentLayout {
        z-index: 1;
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
        .thirdContentLayout > div {
            height: 100%;
            width: 25%;
            background-color: #A31D1D;
            border: 2px solid red;
            margin: 0vh 4vw 0vh 4vw;
            display: flex;
            flex-direction: column;
        }

        .thirdContentLayout > div > a{
            color: white;
            font-weight: bolder;
            margin: 0vh 0vw 2vh 1.5vw;
        }

        .thirdContentLayout > div > p {
            height: 20%;
            width: 90%;
            text-align: justify;
            font-size: 1.8vh;
            color: white;
            margin: 0vh 0vw 0vh 1.5vw;
        }
            .thirdContentImgs {
                height: 75%;
                width: 99%;
                margin: 0vh auto 1vh auto;
            }
    ::deep #seeMoreNavLink {
        height: 5%;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5vh auto 0vh auto;
        font-weight: bolder;
        font-size: 3vh;
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }
        ::deep #seeMoreNavLink:hover {
            color: #387dff;
        }

.fourthContainer {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .fourthContainer > div {
        height: 100%;
        width: 40%;
        margin: 0vh 1vw 0vh 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fourthContainer > div > h1 {
        font-size: 7vh;
        margin: 0vh 0vw 5vh 0vw;
        font-family: 'Times New Roman', 'Sans Serif Collection';
        text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.7);
    }
    .fourthContainer > div > p {
        font-size: 3vh;
        margin: 5vh 0vw 0vh 0vw;
        text-align: justify;
    }
    .fourthContainer > div > img {
        width: 100%;
        height: 100%;
    }



