.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed-container {
	grid-column: 1 / span 1;
	background-color: transparent;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

    .feed-container::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 131%;
        background-image: linear-gradient(to bottom right, #1A0A0A, #EE1D52);
        z-index: -1;
    }

.login-text {
	width: max-content;
    height: 30%;
	line-height: 0.69;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#login-feed {
    font-size: 3.625rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-top: 0;
    line-height: 1rem;
}

#login {
    font-size: 6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

    color: white;
    position: relative;
    text-align: initial;

    
}

#credential-text {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}
