@inherits LayoutComponentBase

<div class="container">
    <div class="feed-container">
        <div class="login-text">
            <span id="login">
                Login
                <br />
                <span id="login-feed" style="color: white;">

                    to your account
                </span>
            </span>

            <span id="credential-text">
                Please enter your credentials to continue.
            </span>
        </div>
        
    </div>
    <div class="login-container">
        @Body
    </div>
</div>