@inherits LayoutComponentBase

<div class="container">
    <div class="white-container">
        <div class="form-container">
            <div class="header-container">
                <h1>Create an account</h1>
                <p>Already have an account? <NavLink href="/login">Log In</NavLink></p>
            </div>
            <div class="step-container">
                <div class="numbered-step-container">
                    <span>1</span>
                    <div class="step-description-container">
                        <span>Enter your login details</span>
                    </div>
                </div>

                <div class="horizontal-line">
                </div>

                <div class="numbered-step-container">
                    <span>2</span>
                    <div class="step-description-container">
                        <span>Provide your basic info</span>
                    </div>
                </div>
@*                 <div class="horizontal-line">
                </div>

                <div class="numbered-step-container">
                    <span>3</span>
                    <div class="step-description-container">
                        <span>More about yourself</span>
                    </div>
                </div> *@
            </div>
            @Body     
        </div>

    </div>
</div>