.container {
	width: 100%;
	height: 150vh;
	background: url('/images/signup/signup-background.jpg') center/cover no-repeat;
	background-position: 117%;
	background-color: #D8404061;
	background-blend-mode: overlay;
	display: grid;
	grid-template-columns: 1fr 20%;
	position: relative;
}

.white-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: white;
}

.form-container {
	height: 66%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 3rem;
}

	.header-container > * {
		margin: 0;
		padding: 0;
	}

	.header-container > h1 {
		font-family: "Poppins", sans-serif;
		font-size: 1.5rem;
		font-weight: 500;
	}

	.header-container > p {
		font-family: "Poppins", sans-serif;
		font-size: 0.9rem;
		font-weight: 400;
	}

.step-container {
	--horizontal-line-column-width: 1fr;
	display: grid;
	grid-template-columns: auto var(--horizontal-line-column-width) auto;
	grid-column-gap: 1.25rem;
	justify-items: center;
	width: 30%;
	margin-bottom: 2rem;
}

.numbered-step-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333333;
	width: 1.5rem;
	height: 1.5rem;
	color: white;
	border-radius: 100%;
	position: relative;
}

	.numbered-step-container > span {
		font-family: 'Poppins', sans-serif;
		font-size: 0.9rem;
		font-weight: 500;
	}

.step-description-container {
	position: absolute;
	left: 50%;
	top: 100%;
	width: auto;
	white-space: nowrap;
	color: black;
	transform: translateX(-50%);
}

	.step-description-container > span {
		font-family: 'Poppins', sans-serif;
		font-size: 0.85rem;
		font-weight: 300;

	}


.horizontal-line {
	width: 100%;
	height: 0.1rem;
	border-top: solid 1px #333333;
}


::deep a {
	text-decoration: underline;
	color: #111111;
	
}
