@layout Layout.GenerateGoalLayout

@page "/survey-page1"
@rendermode InteractiveServer

<header>
    <a>Create Your Personal Fitness Plan</a>
</header>

<EditForm class="editform" Model="_surveyModel" OnValidSubmit="OnValidSubmit">
<div class="main-container">
        @* PALAGAY NG DATA ANNOTATIONS VALIDATOR DITO THANKS -jian*@
        <div class="personal-information">
            <label>I. Personal Information</label>
            <div>
                <div>
                    <label>Age</label>
                    <InputNumber @bind-value="_surveyModel.Age" placeholder="Enter your age" />
                </div>
            </div>
            <div>
                <div>
                    <label>Height</label>
                    <InputNumber @bind-Value="_surveyModel.Height" step="any" placeholder="Height (cm)" />
                </div>
                <div>
                    <label>Weight</label>
                    <InputNumber @bind-Value="_surveyModel.Weight" step="any" placeholder="Weight (kg)" />
                </div>
            </div>
        </div>

        <div class="fitness-goal">
            <label>II. Fitness Goals</label>
            <div>
                <InputRadioGroup @bind-Value="_surveyModel.FitnessGoal">
                <div id="muscleGoal">
                    <label>Muscle Gain / Hypertrophy</label>
                    <p>Build muscle mass and strength</p>
                    <InputRadio Value="@("Muscle Gain")"></InputRadio>
                </div>
                <div id="cardioGoal">
                    <label>Improved Cardiovascular Fitness</label>
                    <p>Enhance endurance and heart health</p>
                    <InputRadio Value="@("Maintenance")"></InputRadio>
                </div>
                <div id="healthGoal">
                    <label>General Fitness / Health Improvement</label>
                    <p>Overall wellness and balanced fitness</p>
                    <InputRadio Value="@("General Fitness")"></InputRadio>
                </div>
                <div id="weightGoal">
                    <label>Weight Loss</label>
                    <p>Loss weight and achieve a healthier</p>
                    <InputRadio Value="@("Weight Loss")"></InputRadio>
                </div>
                </InputRadioGroup>
            </div>
        </div>

        <div class="formBtn">
            <NavLink href="/start-survey">Back</NavLink>
            <button class="next-button" type="submit">Next</button>
        </div>
</div>
</EditForm>


