@layout Layout.GenerateGoalLayout

@page "/survey-page3"

<header>
    <a>Create Your Personal Fitness Plan</a>
</header>

<div class="main-container">
    <label>VI. Physical Activity and Exercise History</label>
    <div class="selection-layout">
        <label>
            On average, how many days per week do you engage in planned exercise?
            (Input field for number of days)
        </label>
        <select>
            <option>1-2 days</option>
            <option>3-4 days</option>
        </select>
    </div>

    <div class="selection-layout2">
        <label>What types of exercise do you enjoy or participate in regularly? (Check all that apply)</label>
        <a><input type="checkbox">Cardio (e.g., running, brisk walking, swimming, cycling, dancing)</a>
        <a><input type="checkbox">Strength Training (e.g., weightlifting, bodyweight exercises)</a>
        <a><input type="checkbox">Flexibility/Mobility (e.g., yoga, Pilates, stretching)</a>
        <a><input type="checkbox">High-Intensity Interval Training (HIIT)</a>
    </div>

    <input type="text" id="specifyTxtBox" placeholder="Please specify" />

    <div class="choice-layout">
        <label>Do you have any limitations or pain that affect your ability to exercise?</label>
        <div>
            <label><input type="radio" name="answer" value="No" />No</label>
            <label><input type="radio" name="answer" value="Yes " />Yes</label>
            <input type="text" placeholder="Please specify" />
        </div>
    </div>

    <label>VII. Time Availability</label>

    <div class="selection-layout">
        <label>
            On average, how much time per day are you willing to dedicate
            to structured exercise?
        </label>
        <select>
            <option>1-2 days</option>
            <option>3-4 days</option>
        </select>
    </div>

    <div class="formBtn">
        <NavLink href="/survey-page2">Back</NavLink>
        <NavLink href="ai-generatedgoal">Submit</NavLink>
    </div>
</div>
