
header {
    width: 45%;
    height: 10vh;
    margin: 0vh 0vw 2vh 0vw;
    display: flex;
    justify-content: center;
    border-bottom: 10px solid #EE1D52;
    border-radius: 10px;
}
    header > a {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 3.5vh;
        color: black;
    }

.main-container {
    background-color: #FFFFFF;
    width: 80%;
    height: 105vh;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.66);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

    .personal-information {
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .personal-information > label {
        font-family: "Poppins";
        font-size: 2.5vh;
        color: black;
        font-weight: 800;
        margin: 2vh 0vw 0vh 1vw;
    }

    .personal-information > div {
        width: 100%; 
        height: 15vh;
        display: flex;
        flex-direction: row;
        margin-top: 2vh;
    }
        .personal-information > div > div {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
        }

        .personal-information > div > div > label {
            font-family: "Poppins";
            font-size: 2.5vh;
            font-weight: 500;
            margin: 0vh 0vw 0vh 1vw;
        }

        ::deep.personal-information > div > div > input {
            font-family: "Poppins";
            width: 90%;
            margin: 1vh 0vw 0vh 1vw;
            height: 60%;
            border: 1px solid rgb(48, 45, 45);
            border-radius: 5px;
        }

    .fitness-goal {
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        margin: 0vh auto;
    }

        .fitness-goal > label {
            font-family: "Poppins";
            font-size: 2.5vh;
            margin: 2vh 0vw 1vh 1vw;
            color: black;
            font-weight: 800;
        }

        .fitness-goal > div {
            width: 100%;
            height: 20vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

            .fitness-goal > div > div {
                background-color: white;
                margin: auto;
                width: 22%;
                height: 90%;
                border-radius: 10px;
                border: 1px solid black;
                display: flex;
                flex-direction: column; 
            }

                .fitness-goal > div > div > label {
                    font-size: 1.5vh;
                    font-family: "Poppins";
                    font-weight: 800;
                    margin: 1vh 0vw 0vh auto;
                    width: 70%;
                    height: 40%;
                    text-align: center;
                }

                .fitness-goal > div > div > p {
                    font-size: 1.5vh;
                    font-family: "Poppins";
                    color: rgb(0, 9, 44, 0.6);
                    width: 90%;
                    margin: 2vh auto 0vh auto;
                }

                ::deep.fitness-goal > div > div > input {
                    margin: auto 0.5vw 0.5vh auto;
                    cursor: pointer;
                }

    /*FOR ICONS OF FITNESS GOALS SELECTION*/
        #muscleGoal {
            background: url('images/generategoals/FITNESS GOALS ICONS/MUSCLE-BLACK.svg') no-repeat 10px top;
            background-size: 15% 45%;
        }

        #cardioGoal {
            background: url('images/generategoals/FITNESS GOALS ICONS/HEARTICON-BLACK.svg') no-repeat 10px top;
            background-size: 15% 45%;
        }

        #healthGoal {
            background: url('images/generategoals/FITNESS GOALS ICONS/HEARTWITHPLUS-WHITE.svg') no-repeat 10px top;
            background-size: 15% 45%;
        }
        #weightGoal {
            background: url('images/generategoals/FITNESS GOALS ICONS/SCALEICON-BLACK.svg') no-repeat 10px top;
            background-size: 15% 45%;
        }

    .secondary-fitnessgoal {
        width: 100%; 
        height: 20vh;
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
    }
        .secondary-fitnessgoal > label {
            font-family: "Poppins";
            font-size: 2.5vh;
            color: black;
            font-weight: 800;
            margin: 1vh 0vw 0vh 1vw;
        }

        .secondary-fitnessgoal > div {
            margin: 2vh 0vw 2vh 1vw;
            width: 90%;
            height: 20%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .secondary-fitnessgoal > div > label {
                font-family: "Poppins";
                font-weight: 500;
                margin: 0vh 10vw 0vh 0vw;
                cursor: pointer;
            }

        .secondary-fitnessgoal > textarea {
            margin: 0vh 0vw 0vh 1vw;
            width: 90%;
            height: 40%;
            font-family: "Poppins";
            font-size: 1rem;
            word-wrap: break-word;
            resize: none;
            border: 1px solid black;
            border-radius: 5px;
            padding-left: 10px;
        }


    .formBtn {
        width: 50%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

    ::deep.formBtn > a {
        background-color: black;
        width: 40%;
        height: 100%;
        margin: 0vh 1vw 0vh 1vw;
        font-family: "Poppins";
        font-size: 2vh;
        font-weight: 700;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 10px;
        text-decoration: none;
    }
        ::deep.formBtn > a:hover {
            color: skyblue;
        }

    .next-button {
        background-color: black;
        width: 40%;
        height: 100%;
        margin: 0vh 1vw 0vh 1vw;
        font-family: "Poppins";
        font-size: 2vh;
        font-weight: 700;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 10px;
        text-decoration: none;
    }
        .next-button:hover {
            color: skyblue;
        }

::deep .editform {
    width: 100%;
    height: 100%;
}