

header {
    width: 45%;
    height: 10vh;
    margin: 0vh 0vw 2vh 0vw;
    display: flex;
    justify-content: center;
    border-bottom: 10px solid #EE1D52;
    border-radius: 10px;
}

    header > a {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 3.5vh;
        color: black;
    }

.main-container {
    background-color: #FFFFFF;
    width: 35vw;
    height: 60vh;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.66);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
}
    .main-container > label {
        font-family: "Poppins";
        font-size: 2.5vh;
        color: black;
        font-weight: 600;
        margin: 4vh 0vw 0vh 1vw;
    }

    .selection-layout {
        width: 100%;
        height: 10vh;
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
    }

        .selection-layout > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: auto;
            width: 100%;
            height: 50%;
            padding-left: 1vw;

        }

        .selection-layout > div > input {
            cursor: pointer;
        }

        .selection-layout > div > label {
            font-family: "Poppins";
            font-size: 2vh;
            margin-right: 5vw;
        }

        .selection-layout > label {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 2vh;
            color: black;
            margin: 1vh 0vw 0vh 1vw;
        }

        .selection-layout > ::deep select {
            font-family: "Poppins";
            font-size: 0.8rem;
            width: 90%;
            height: 50%;
            margin: 0.5vh 0vw 0vh 1vw;
            padding-left: 1vw;
            color: #666666;
            cursor: pointer;
            border-radius: 5px;
        }

        .selection-layout > button {
            background-color: #FFFFFF;
            width: auto;
            height: 50%;
            padding-left: 1vw;
            padding-right: 1vw;
            margin: auto auto 0vh 1vw;
            font-family: "Poppins";
            font-size: 2vh;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 5px;
            outline: none;
        }

            .selection-layout > button:hover {
                color: blue;
            }

    .formBtn {
        width: 50%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        margin: auto 0vw auto auto;
    }

    ::deep.formBtn > a {
        background-color: black;
        width: 40%;
        height: 100%;
        margin: 0vh 1vw 0vh 1vw;
        font-family: "Poppins";
        font-size: 2vh;
        font-weight: 700;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 10px;
        text-decoration: none;
    }

        ::deep.formBtn > a:hover {
            color: skyblue;
        }

    .submit-button {
        background-color: black;
        width: 40%;
        height: 100%;
        margin: 0vh 1vw 0vh 1vw;
        font-family: "Poppins";
        font-size: 2vh;
        font-weight: 700;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 10px;
        text-decoration: none;
    }

        .submit-button:hover {
            color: skyblue;
        }

/*FOR EDITFORM LAYOUT*/

::deep.editform {
    width: 100%;
    height: 100%;
}

/*OVERLAY FOR SELECTING EXERCISE HISTORY*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.exercise-history {
    border-radius: 10px;
    background: linear-gradient(to bottom, white, black);
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
    .exercise-history > button {
        background-color: black;
        box-shadow: 0px 0px 5px white;
        width: auto;
        height: 10%;
        border: 0;
        border-radius: 10px;
        font-family: "Poppins";
        color: white;
        margin: auto 5vw 2vh auto;
        cursor: pointer;
    }
    .exercise-history > button:hover {
        color: skyblue;
    }

.overlay-header {
    height:10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .overlay-header > label {
        font-family:"Poppins";
        font-size: 3vh;
        font-weight: 600;
        margin-left: 1vw;
    }

.exercise-list {
    width: 100%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.close-btn {
    background: url('images/generategoals/closebutton.svg') no-repeat center;
    background-size: 70%;
    width: 5%;
    height: 100%;
    border: 0;
    margin-left: auto;
    cursor: pointer;
    padding-left: 1vw;
    padding-right: 1vw;
}