@layout Layout.DashboardLayout

@page "/user-profile"

<div class="info-container">
    <div class="header-info">
        <h1>Hello, One Autumn Leaf!</h1>
        <a>Personal Information</a>
    </div>
    <div class="body-info">
        <div>
            <a>First Name:</a>
            <p>Chi Qiu</p>
            <a>Gender:</a>
            <p>Male</p>
        </div>
        <div>
            <a>Last Name:</a>
            <p>Ye</p>
            <a>Date of Birth:</a>
            <p>March 08, 2024</p>
        </div>
        <div>
            <a>Middle Name:</a>
            <p>Sie</p>
        </div>
    </div>
</div>

<div class="otherInfo-container">
    <div class="content-layout">
        <p>Email Address</p>
        <div>
            <p>oneautumnleaf@gmail.com</p>
        </div>
    </div>
    <div class="content-layout">
        <p>Password</p>
    </div>
</div>  