@layout Layout.DashboardLayout

@page "/meal-plans"

<header>
    <label>Dietary Preferences: </label>
    <button id="filter-vegan">Vegan</button>
    <button id="filter-bulk">Bulk</button>
</header>

<div class="meal-plan-container">
    <MealComponents/>
</div>