
<div class="meal-container">
    <div class="meal-details">
        <div class="meal-name">
            <label>Meal Name</label>
            <p>Test </p>
        </div>
        <label>Allergens:</label>
        <div class="allergens-list">
            <label>Egg</label>
            <label>Seafoods</label>
        </div>
        <div class="description-layout">
            <label>Ingredients</label>
            <div>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
            </div>
        </div>
        <div class="description-layout">
            <label>Instructions</label>
            <div>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
                <label>o Test</label>
            </div>
        </div>
    </div>
    <div class="meal-img">
        <label>Vegan</label>
        <img src="images/homepage/colynary-media-yWd6Mb1y1P0-unsplash.jpg" />
    </div>
</div>
