@layout Layout.DashboardLayout
@page "/user-dashboard"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="header">
    <div class="user-details">
        <h1>Hello, @userName</h1>
        <p>See and track your progress.</p>
    </div>
    <div class="record-workouts">
        <div>
            <div1>
                <a>Workouts</a>
            </div1>
            <div2>
                <a>@completedWorkoutsCount</a>
                <a>completed</a>
            </div2>
        </div>
    </div>
</div>

<div class="playlist-buttons">

</div>

<div class="playlist-layout">
    <h2>Workout Playlist</h2>
    <div>
        <div class="filter-playlist">
            <button @onclick="() => ChangeViewFilter(ViewMode.Ongoing)" id="ongoing">Ongoing</button>
            <button @onclick="() => ChangeViewFilter(ViewMode.Completed)" id="history">Completed</button>
            <button @onclick="() => ChangeViewFilter(ViewMode.Cancelled)" id="history">Cancelled</button>
        </div>
        <div class="workout-listLayout">
            @if (ViewFilter == ViewMode.Ongoing)
            {
                @foreach (var sub in UserExercisesSubscriptions)
                {
                    <WorkoutList IntermediaryBase="sub" OnCompleteClick="CompleteExercise"
                                 OnDeleteClick="DeleteExercise" ViewFilter="ViewFilter" />
                }
            }
            else
            {
                @foreach (var history in UserExerciseHistory)
                {
                    <WorkoutList IntermediaryBase="history" OnCompleteClick="CompleteExercise"
                                 OnDeleteClick="DeleteExercise" ViewFilter="ViewFilter" />
                }
            }
            
        </div>
    </div>
</div>
