@layout Layout.DashboardLayout
@page "/user-dashboard"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="header">
    <div class="user-details">
        <h1>Hello, @userName</h1>
        <p>See and track your progress.</p>
    </div>
    <div class="record-workouts">
        <div>
            <div1>
                <a>Workouts</a>
            </div1>
            <div2>
                <a>@completedWorkoutsCount</a>
                <a>completed</a>
            </div2>
        </div>
    </div>
</div>

<div class="playlist-buttons">

</div>

<div class="playlist-layout">
    <h2>Workout Playlist</h2>
    <div>
        <div class="filter-playlist">
            <button id="pending">Pending</button>
            <button id="history">History</button>
        </div>
        <div class="workout-listLayout">
            @foreach (var sub in UserExercisesSubscriptions)
            {
                <WorkoutList Subscription="sub" OnCompleteClick="CompleteExercise" OnDeleteClick="DeleteExercise"/>
            }
        </div>
    </div>
</div>
