<div class="workout-container">
    <header>
        <label>Muscle Workout</label>
        <button id="mark-as-done" title="Mark as done"></button>
        <button id="show-info" title="Cancel Workout"></button>
    </header>
    <div class="details-layout">
        <div>
            <label class="exercise-type">Bench Press </label>
        </div>
        <div>
            <p>Exercise Type:</p>
            <a>Strength</a>
            <p>Equipment Needed:</p>
            <a>Barbell</a>
        </div>
        <div>
            <p>Exercise Difficulty:</p>
            <a>Beginner</a>
            <p>Exercise Target:</p>
            <a>Chest</a>
        </div>
        <div>
            <p>Typical Reps / Hold:</p>
            <a>10-15</a>
            <p>Type Duration:</p>
            <a>N/A</a>
        </div>
    </div>
</div>
