@layout Layout.DashboardLayout
@page "/workout-selections"

<div class="header">
    <p>"Choose your workout: Explore a range of exercises tailored to your fitness goals and preferences"</p>
    <h1>Workout Playlist</h1>
    <div class="filter-selection">
        <button id="strengthBtn">Strength</button>
        <button id="coreBtn">Core</button>
        <button id="flexBtn">Flexibility</button>
        <button id="cardioBtn">Cardio</button>
    </div>
</div>

<div class="container">
    <div>
        <div>
            <h1>Bench Press</h1>
            <button>+ Add to Workouts</button>
        </div>
        <div1>
            <p>Exercise Type:</p>
            <a>Strength</a>
            <p>Exercise Needed:</p>
            <a>Barbell</a>
        </div1>
        <div1>
            <p>Exercise Difficulty:</p>
            <a>Beginner</a>
            <p>Exercise Target:</p>
            <a>Chest</a>
        </div1>
        <div1>
            <p>Typical Reps/Hold:</p>
            <a>10-15</a>
            <p>Typical Duration::</p>
            <a>N/A</a>
        </div1>
        <div2></div2>
    </div>
    <div>
        <div>
            <h1>Bent-Over Row</h1>
            <button>+ Add to Workouts</button>
        </div>
        <div1>
            <p>Exercise Type:</p>
            <a>Strength</a>
            <p>Exercise Needed:</p>
            <a>Barbell</a>
        </div1>
        <div1>
            <p>Exercise Difficulty:</p>
            <a>Beginner</a>
            <p>Exercise Target:</p>
            <a>Chest</a>
        </div1>
        <div1>
            <p>Typical Reps/Hold:</p>
            <a>10-15</a>
            <p>Typical Duration::</p>
            <a>N/A</a>
        </div1>
        <div2></div2>
    </div>
    <div>
        <div>
            <h1>Barbell Black</h1>
            <button>+ Add to Workouts</button>
        </div>
        <div1>
            <p>Exercise Type:</p>
            <a>Strength</a>
            <p>Exercise Needed:</p>
            <a>Barbell</a>
        </div1>
        <div1>
            <p>Exercise Difficulty:</p>
            <a>Beginner</a>
            <p>Exercise Target:</p>
            <a>Chest</a>
        </div1>
        <div1>
            <p>Typical Reps/Hold:</p>
            <a>10-15</a>
            <p>Typical Duration::</p>
            <a>N/A</a>
        </div1>
        <div2></div2>
    </div>
    <div>
        <div>
            <h1>Barbell Black</h1>
            <button>+ Add to Workouts</button>
        </div>
        <div1>
            <p>Exercise Type:</p>
            <a>Strength</a>
            <p>Exercise Needed:</p>
            <a>Barbell</a>
        </div1>
        <div1>
            <p>Exercise Difficulty:</p>
            <a>Beginner</a>
            <p>Exercise Target:</p>
            <a>Chest</a>
        </div1>
        <div1>
            <p>Typical Reps/Hold:</p>
            <a>10-15</a>
            <p>Typical Duration::</p>
            <a>N/A</a>
        </div1>
        <div2></div2>
    </div>
    <div>
        <div>
            <h1>Barbell Black</h1>
            <button>+ Add to Workouts</button>
        </div>
        <div1>
            <p>Exercise Type:</p>
            <a>Strength</a>
            <p>Exercise Needed:</p>
            <a>Barbell</a>
        </div1>
        <div1>
            <p>Exercise Difficulty:</p>
            <a>Beginner</a>
            <p>Exercise Target:</p>
            <a>Chest</a>
        </div1>
        <div1>
            <p>Typical Reps/Hold:</p>
            <a>10-15</a>
            <p>Typical Duration::</p>
            <a>N/A</a>
        </div1>
        <div2></div2>
    </div>
</div>