@page "/login"
@layout Layout.LoginLayout

@rendermode InteractiveServer

<div class="container">
    <div class="flex-centered gap-3 max-size">
        <div class="form-container">
            <EditForm Model="Model" class="login-form" OnValidSubmit="HandleValidSubmit" FormName="LoginForm">

                <span>@errorMessage</span>

                <div class="input-container">
                    <label for="identifier">Email or Username:</label>
                    <InputText id="identifier" @bind-Value="Model!.LoginIdentifier" class="form-control" />
                </div>


                <div class="input-container">
                    <label for="password">Password:</label>
                    <div class="password-container">
                        <InputText id="password" type="@PasswordVisibilityState" @bind-Value="Model.Password" class="form-control" />
                        <button class="fa @EyeVisibilityState eye-button" type="button" @onclick="ChangePasswordVisibility"></button>

                    </div>
                </div>

                <div class="footer-container flex-centered flex-column">
                    <div class="button-container">
                        <p>By creating an account, you agree to the <NavLink>Terms of use</NavLink> and <NavLink>Privacy Policy.</NavLink></p>
                        <button type="submit" class="button">Sign in</button>
                    </div>

                    <NavLink>Forgot your Password?</NavLink>

                    <p>Dont have an account? <NavLink href="/signup/login-details">Sign Up</NavLink></p>

                </div>
            </EditForm>
            
        </div>

    </div>

</div>