.container {
    width: 85%;
    height: 80%;

    margin-left: 1rem;
    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
	--border-position: -5px;
	--double-border-positon: 10px;
	--border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	position: relative;
	transform-style: preserve-3d;
}

    .login-form::after {
        content: "";
        position: absolute;
        top: var(--border-position);
        left: var(--border-position);
        width: calc(100% + var(--double-border-positon));
        height: calc(100% + var(--double-border-positon));

        border-radius: var(--border-radius);
        background-color: green;
        transform: translateZ(-1px)
    }
        
::deep .max-size {
    width: 100%;
    height: 100%;
}

.bg-white {
    background-color: white;
}