@page "/logout"
@using FitLife.Auth

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    private AuthService AuthService { get; set; } = default!;

    private string hideValidation = "hidden";
    private bool isValidationOn = false;

    protected override async Task OnInitializedAsync()
    {
        // Perform logout logic here
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            await AuthService.SignOutUser();
        }
        await base.OnInitializedAsync();
    }
}

<div id="logout-validation" class="overlay">
    <div class="validation-logout">
        <img src="images/login-validation/check-black.svg" />
        <label>Logout Successfully!</label>
        <button type="button" onclick="closeLogoutValidation()">Close</button>
    </div>
</div>