.flex-container {
	display: flex;
	gap: 2rem;
}

	.flex-container > div{
		width: 100%;
	}

.form-container {
	width: 65%;

	margin-top: 4rem;
}

.flex {
	display: flex;
}

::deep .gray-border {
	border: 1px solid #66666659;
	border-radius: 0.5rem;
}

::deep .input {
	width: 100%;
	height: 3.1rem;
}
	
	.eye-button {
		background-color: transparent;
		box-shadow: none;
		border: none;

		cursor: pointer;
	}

	::deep .input > input {
		margin-left: 1rem;
	}

#submit-button {
	border: none;
	background: none;
	width: 100%;
	height: 4rem;
	cursor: pointer;
	background-color: black;
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	border-radius: 1.5rem;

	margin-top: 2rem;
}

::deep form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

::deep form > div {
	width: 100%;
}

::deep input {
	all: unset;
	width: 100%;
	border: none;

	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1.05rem;
}

	::deep input:focus {
		outline: none;
		box-shadow: none;
	}

::deep input.invalid {
	outline: none;
}

::deep input.valid {
	outline: none;
}

	::deep input::placeholder {
		font-family: 'Poppins', sans-serif;
		font-weight: 200;
		font-size: 0.9rem;
	}

	::deep .valid.modified {
		outline: none;
	}

/*FOR ASTERISK*/

span {
	font-size: 0.7rem;
	overflow: hidden;
	color: red;
	margin: 0vh 0vw 0vh 0.3vw;
	vertical-align: super;
}