@layout Layout.SignUpLayout
@page "/signup/login-details"

@rendermode InteractiveServer


<div class="form-container">
    <EditForm Model="@State.UserSignUpCredential" FormName="CredentialSignUpForm" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        @* <DataAnnotationsValidator />
        <ValidationSummary /> *@

        <div class="flex-container">

            <div>
                <label for="email">What’s your email?</label>
                <InputText id="email" class="form-control" placeholder="Enter your email.." @bind-Value="State!.UserSignUpCredential.Email" />
            </div>

            <div>
                <label for="username">What's your username?'</label>
                <InputText id="username" class="form-control" placeholder="Enter your username.." @bind-Value="State!.UserSignUpCredential.Username" />
            </div>
        </div>

        <div>
            <label for="password">What’s your password?</label>
            <InputText id="password" type="password" class="form-control" placeholder="Enter your password.." @bind-Value="State!.UserSignUpCredential.Password" />
        </div>


        <button type="submit">Next</button>
    </EditForm>
</div>