.flex-container {
	display: flex;
	gap: 2rem;
}

	.flex-container > div {
		width: 100%;
	}

.standard-font {
	font-family: 'Poppins', sans-serif;
}

.label-input {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.form-container {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
}

	.form-container > p{
		font-size: 0.75rem;
		font-weight: 300;
		color: #666666;
	}

	.form-container > p > span {
		color: crimson;
	}

.input-container {
	width: 100%;
	height: 3.1rem;
	border: 1px solid #66666659;
	border-radius: 0.5rem;
	display: flex;
}

.radio-container {
	width: 100%;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0;
}

.select-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	position: relative;
}

.icon-container {
	height: 100%;
	width: 30px;
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
	Fa carat animation
*/
.fa-caret-down {
	transition: transform 0.3s ease;
}

.select-container:focus-within .fa-caret-down {
	transform: rotate(180deg);
}

	

button {
	border: none;
	background: none;
	width: 100%;
	height: 4rem;
	cursor: pointer;
	background-color: black;
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	border-radius: 1.5rem;
	margin-top: 2rem;
}


::deep form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

	::deep form > div {
		width: 100%;
	}

::deep input[type=text] {
	all: unset;
	width: 100%;
	height: 100%;

	margin-left: 1rem; 


	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1.05rem;
}

	::deep input::placeholder {
		font-family: 'Poppins', sans-serif;
		font-weight: 200;
		font-size: 0.9rem;
	}

	::deep .valid.modified {
		outline: none;
	}

::deep select {
	border: none;
	appearance: none;
	background-color: transparent;
	width: 100%;
	height: 3.1rem;
	border: 1px solid #66666659;
	border-radius: 1rem;
}