@page "/redirect-to-login"

<h1>not authorized</h1>
@code {
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    protected override void OnInitialized()
    {
        // NavigationManager.NavigateTo("/");
    }
}
