
.header {
    width: 95%;
    height: 30vh;
    margin: 0vh auto 0vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .header > p {
        font-family: "Roboto";
        font-size: 3vh;
        color: #717171;
        margin: 1vh 0vw 2vh 0vw;
    }
    .header > h1 {
        font-family: "Poppins";
        color: black;
        margin: 0vh 0vw 2vh 0vw;
    }


 /*FOR FILTER BUTTONS */

.filter-selection {
    width: 100%;
    height: 15%;
    display:flex;
    flex-direction: row;
}
    .filter-selection > button {
        font-family: "Poppins";
        font-size: 2vh;
        font-weight: 600;
        text-shadow: 0px 0px 2px black;
        text-align: right;
        padding-right: 15px;
        width: 10%;
        height: 100%;
        margin: 0vh 1vw 0vh 0vw;
        cursor: pointer;
        border: 0;
        border-radius: 5px;
        color: white;
    }

    #strengthBtn {
        background: url("images/WorkoutFilters/musclewhite-solid--muscle.svg") no-repeat 10px center; 
        background-size: 15% 100%;
        background-color: rgba(238, 29, 82, 0.5);
    }
        #strengthBtn:hover {
            color: skyblue;
        }
    #coreBtn {
        background: url("images/WorkoutFilters/CORE-muscle-body (1).svg") no-repeat 10px center;
        background-size: 20% 100%;
        background-color: #EE1D52;
    }
        #coreBtn:hover {
            color: skyblue;
        }
    #flexBtn {
        background: url("images/WorkoutFilters/FLEXIBILITY--WHITE.svg") no-repeat 10px center;
        background-size: 15% 100%;
        background-color: rgba(238, 29, 82, 0.5);
    }
        #flexBtn:hover {
            color:  skyblue;
        }
    #cardioBtn {
        background: url("images/WorkoutFilters/CARDIO--WHITE.svg") no-repeat 10px center;
        background-size: 15% 100%;
        background-color: rgba(238, 29, 82, 0.5);
    } 
        #cardioBtn:hover {
            color: skyblue;
        }

    #allBtn {
        background: url("images/WorkoutFilters/whitedumbbell.png") no-repeat 10px center;
        background-size: 25% 70%;
        background-color: rgba(238, 29, 82, 0.5);
    }
        #allBtn:hover {
            color: skyblue;
        }

/*FOR WORKOUT PLAYLIST CONTENT*/
.container {
    width: 95%;
    height: 80vh;
    margin: 2vh auto 0vh auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
   /* .container > div {
        background-color: #FFFFFF;
        width: 90%;
        height: 25%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        margin: 1vh 0vw 1vh 0vw;
        display: flex;
        flex-direction: row;
    }

    .container > div > div {
        height: 100%;
        width: 35%;
        margin-right: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .container > div > div > h1 {
            margin: 0vh 0vw 0vh 2vw;
        }

        .container > div > div > button {
            background-color: #EE1D52;
            font-family: "Poppins";
            color: white;
            text-shadow: 0px 0px 2px black;
            cursor: pointer;
            margin: 2vh 0vw 0vh 2vw;
            width: 50%;
            height: 25%;
            border: 0;
            border-radius: 5px;
        }

            .container > div > div > button:hover {
                color: skyblue;
            }

    .container > div > div.exercise-details {
        height: 100%;
        width: 20%;
        margin-right: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .container > div > div.exercise-details > p {
            color: rgba(0, 0, 0, 0.5);
            margin: 1vh 0vw 0vh 0vw;
            font-weight: 700;
            font-size: 2.5vh;
        }

        .container > div > div.exercise-details > a {
            color: black;
            margin: 0vh 0vw 0vh 0vw;
            font-weight: 800;
            font-size: 2.5vh;
        }*/

    /*DESIGN LINE IN EVERY WORKOUTS*/
    .container > div > .design-line {
        background-color: #991535;
        height: 100%;
        width: 2%;
        margin: 0vh 0vw 0vh auto;
    }
